

#contacto fieldset input:hover{background-color:$blanco-opaco;}
#contacto fieldset input:focus{background-color:$blanco-opaco;}
#contacto fieldset textarea:hover{background-color: $blanco-opaco;}
#contacto fieldset textarea:focus{background-color: $blanco-opaco;}
#contacto fieldset ::placeholder{color: $blanco-poco-opaco;}

.parallax-hI{
    @include BG-img-blur($negro-poco-opaco, "../images/hI.jpg");
    @include BG-behavior(center, center, fixed);
    color: white;}
    
#formulario{
    @include BG-img-blur(rgba(0,0,0,.45), "../images/fantasíaFuturista_1.jpg");
    @include BG-behavior(center, 50px, fixed);
    height: 140vh;
    color: white;}

.valhalla-footer{
    @include BG-img-blur($negro-poco-opaco, "../images/valhalla2.jpg");
    @include BG-behavior(center, 200px, fixed);
    @include D-FlexCenter(row);
    margin: 0;
    height: 160px;
    color: white;}

.valhalla-footer-odin{
    @include BG-img-blur($negro-poco-opaco, "../images/odin2.jpg");}

.valhalla-footer-thor{
    @include BG-img-blur($negro-poco-opaco, "../images/thor.jpeg");}

.valhalla-footer-hI{
    @include BG-img-blur($negro-poco-opaco, "../images/hI.jpg");}

.valhalla-footer-contacto{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.0),
        rgba(0,0,0,.0)
    );
    background-position: center center;}