@media (max-width:768px){

    #intro, #AcercaValhalla, #intro-odin, #intro-thor, #stevejobs, #alanturing, #billgates, #snakamoto{
        width: 90% !important;
    }

    .heroes-fila{
        width: 100% !important;
        text-align: center;}

    .valhalla-footer-container{
        width: 100%;
        @include D-FlexCenter(col);}

    .valhalla-logo{
        margin: 0;}

    .carousel-inner{
        max-height: 40vh;}

    .rango-icon{
        width: 50px;}

    .hI-deskHeight{
        height: auto;}
    
    .valhalla-footer{
        @include BG-behavior(center, center, initial);}

    .parallax-hI{
        @include BG-behavior(center, center, initial);}

    #formulario{
        @include BG-behavior(center, center, initial);}

    .valhalla-footer{
        background-image: none;
        background-color: #212529;
    }

    .img-boxes{
        @include SizeFormatter(100px, 100px);
    }

}

@media (max-width:576px){

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;}

    .rango-icon{
        width: 35px;
        margin: 0 7px;}

    .img-boxes{
        @include SizeFormatter(90px, 90px);}

    #formulario{
        height: 120vh;
    }
}

@media (max-width:400px){
    .acerca-deskHeight{
        height: auto;
        padding: 50px 0px;}

    .img-boxes{
        @include SizeFormatter(75px, 75px);
    }
}