$scrollbar-color: #414141;

$negro-poco-opaco:rgba(0,0,0,.7);

$negro-opaco:rgba(0,0,0,.5);

$negro-muy-opaco:rgba(0,0,0,.2);

$blanco-poco-opaco:rgba(200,200,200,.7);

$blanco-opaco:rgba(200,200,200,.5);

$valhalla-color: rgb(148, 76, 0);

$valhalla-hover-color:rgb(124, 70, 0);

